<!DOCTYPE html>
<html>
  <head>
    <title>User Goal App (Rails2p)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

      <% if signed_in? %>
        <nav>
          <a class='button' href="<%= users_url %>">Home</a>
          
          <div>
            <p>Logged in as: <%= current_user.username %></p>
          <form action=<%= session_url %> method='post'>
            <input
              type="hidden"
              name="_method"
              value="delete">
            <input
              type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>">
            <input 
              type="submit" value="Logout">
          </div>
        </nav>
      <% end %>

      <% if flash [:errors] %>
        <p><%= flash[:errors].join(", ") %></p>
      <% end %>

    <%= yield %>
  </body>
</html>
