<ul>
  <li><%= user.username %></li>
  <li><%= user.age %></li>
  <li><%= user.email %></li>
  <li><%= user.political_affiliation %></li>
  <a href="<%= edit_user_url(user) %>">Edit Wizard</a>
  <form action="<%= user_url(user) %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Wizard">
  </form>

</ul>

<% if action == :show %>
  <a href="<%= users_url %>">User Index</a>
<% else  %>
  <a href="<%= user_url(user) %>">User Show Page</a> 
<% end %>