<form action="<%= user_url(@user.id) %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="username">Username:
    <input type="text" id="username" name="user[username]" value="<%= @user.username %>">
  </label>
  <br>
  <label for="age">Age:
    <input type="text" id="age" name="user[age]" value="<%= @user.age %>">
  </label>
  <br>
  <label for="email">Email:
    <input type="text" id="email" name="user[email]" value="<%= @user.email %>">
  </label>
  <br>
  <label for="political_affiliation">Political Affiliation:
    <input type="text" id="political_affiliation" name="user[political_affiliation]"
      value="<%= @user.political_affiliation %>">
  </label>
  <br>
  <input type="submit" value="Update Your User Account">
</form>