<form action="<%= action %>" method="POST">
  <%= render "shared/errors", errors: flash[:errors], type: :base %>
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >
  <label for="username-input">Username</label>
  <input
    id="username-input"
    type="text"
    name="user[username]"
    value="<%= user.username %>"
  >
    <%= render 'shared/errors', errors: flash[:errors], type: :username %>
  <label for="password-input">Password</label>
  <input
    type="password"
    name="user[password]"
    id="password-input"
  >
    <%= render 'shared/errors', errors: flash[:errors], type: :password %>
  <button class="button"><%= submit_text %></button>
</form>
