<section class="page"><div class="centered-box">
  <h1>Create Rental Request</h1>

  <%= render "shared/errors" %>

  <form action="<%= cat_rental_requests_url %>" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <label for="cat_rental_request_cat_id">Cat</label>
    <select name="cat_rental_request[cat_id]"
            id="cat_rental_request_cat_id">
      <option></option>
      <% Cat.all.each do |cat| %>
        <% selected = @rental_request.cat_id == cat.id %>
        <option <%= selected ? "selected" : "" %>
                value="<%= cat.id %>">
          <%= cat.name %>
        </option>
      <% end %>
    </select>
    <br>

    <label for="cat_rental_request_start_date">Start Date</label>
    <input
      type="date"
      name="cat_rental_request[start_date]"
      value="<%= @rental_request.start_date %>"
      id="cat_rental_request_start_date">
    <br>

    <label for="cat_rental_request_end_date">End Date</label>
    <input
      type="date"
      name="cat_rental_request[end_date]"
      value="<%= @rental_request.end_date %>"
      id="cat_rental_request_end_date">
    <br>

    <input type="submit">
  </form>
</div></section>
