<h1>Users#show</h1>

<h2>goals for <%= @user.username %></h2>
<% @user.goals.each do |goal| %>
  <%= goal.name %>
  <%= goal.details %>
  <% if goal.status %>
  <p>Done</p>
  <% end %>
  <form action="<%= goal_url %>" method="GET">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" value="_method" method="DELETE">
    <button type="submit">Delete Goal</button>
  </form>
<% end %>

Add a New Goal
<form action=" <%=user_goals_url(@user)%> " method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Name: 
  <input type="text" name="goal[name]" >
  </label>
  <label>Details: 
  <input type="text" name="goal[details]" >
  </label>
  <label>True
  <input type="radio" name="goal[status]" value="true">
  </label>
  <label>False
  <input type="radio" name="goal[status]" value="false">
  </label>
  <input type="submit" value="Create Goal">
</form>