<!DOCTYPE html>
<html>
  <head>
    <title>BlueBird</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <h2>Hello <%= current_user.username %></h2>

      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign Out">
      </form>
      
    <% end %>
    
    <%= yield %>
  </body>
</html>
