<!DOCTYPE html>
<html>
  <head>
    <title>Y</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# connect any css stylesheets we have in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application"  %> 
  </head>

  <body>
    <% if logged_in? %>
    <h1>Hello <%= current_user.username %></h1>
    <form action="<%= session_url %>" method="post">  
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="logout!">
    </form>
  <% else  %>
    <a href="<%= new_user_url %>">Go to new user page</a>
    <br>
    <a href="<%= new_session_url %>"> Go to Login page</a>
  <% end  %>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    <%= yield %>
  
  </body>
</html>
