<% url = action == :index ? user_url(user) : users_url %>
<% txt = action == :index ? 'inspect' : 'return to index' %>

<ul class="<%= user.coding_pref ? "has-a-pref" : "no-pref" %>">
  <li><%= user.username %></li>
  <li><%= user.email %></li>
  <li><%= user.age %></li>
  <li>coding_pref: <%= user.coding_pref || 'n/a' %></li>
  <% if action == :show %>
    <li><a href="<%= edit_user_url(user) %>">edit user</a></li>
  <% end %>
  <li><a href="<%= url %>"><%= txt %></a></li>
</ul>