<%# partial for user info %>
<% if action == :show %>
<%# if we are on the show page, give a link to the index page %>
  <a href="<%= users_url %>">Index page</a>
  <h2><%= user.username %></h2>
<% else %>
<%# otherwise we are on the index, so we should link the user's show page %>
  <a href="<%= user_url(user) %>"><%= user.username %></a>
<% end %>

<ul>
  <li><%= user.email %></li>
  <li><%= user.age %></li>
</ul>