<p><%= user.username %></p>
<ul>
  <li><%= user.email %></li>
  <li><%= user.age %></li>
  <li><%= user.favorite_coin %></li>
  <% if action == 'show' %>
    <li><a href="<%= edit_user_url(user) %>">Edit User</a></li>
    <li><a href=" <%= users_url %>">Back to Index</a></li>
  <% else %>
    <li><a href="<%= user_url(user.id) %>">Inspect User</a></li>
  <% end %>
</ul>