<h1>CHIRP <%= @chirp.id %></h1>
<ul>
    <li>id: <%= @chirp.id %></li>
    <li>author_id: <%= @chirp.author_id %></li>
    <li>body: <%= @chirp.body %></li>
    <a href="<%= chirps_url %>">All Chirps</a>
</ul>

<form action="<%= chirp_url(@chirp) %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <%= auth_token %>
    <button>Delete this chirp</button>
</form>