<h1>Add a New Goal</h1>
<form action="<%= user_goals_url(@user) %>" method="POST">
     <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

    <label>Name
        <input name="goal[name]">
    </label>

    <label>Details
        <input name="goal[details]">
    </label>

    <input type="radio" name="goal[status]" value="true">
    <input type="radio" name="goal[status]" value="false">

    <button>Create Goal</button>
</form>

<% @user.goals.each do |goal| %>
    <%= goal.name %>
    <%= goal.details %>
    <% if goal.status %>
        <h2>Done</h2>
    <% end %>

    <form action="<%= goal_url(goal) %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
        <button>Delete Goal</button>
    </form>
<% end %>