<!DOCTYPE html>
<html>
  <head>
    <title>BlueBird</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <h2>Welcome, <%= current_user.username %></h2>
    <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="logout!">
    </form>
  <% else%>
    <a href="<%= new_user_url %>">Create a New User</a>
    <a href="<%=new_session_url%>">Login!</a>
  <% end %>
    <%= yield %>
    
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p class="error"><%= error %></p>
      <% end %>
    <% end %>

    <% if flash[:messages] %>
      <% flash[:messages].each do |message| %>
        <p class="success"><%= message %></p>
      <% end %>
    <% end %>
    
  </body>
</html>
