<% is_cat_owner = current_user && current_user.owns_cat?(@cat) %>

<tr>
  <td><%= req.user.username %></td>
  <td><%= req.start_date %></td>
  <td><%= req.end_date %></td>
  <td>
    <% if req.pending? && is_cat_owner %>
        <form action="<%= approve_cat_rental_request_url(req) %>" method="post">
          <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
          <input type="submit" value="Approve">
        </form>
        <form action="<%= deny_cat_rental_request_url(req) %>" method="post">
          <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
          <input type="submit" value="Deny">
        </form>
    <% else %>
      <%= req.status %>
    <% end %>
  </td>
</tr>
