<h1><%= @user.username %>'s profile</h1>
<%= render 'user', user: @user, action: :show %>


<h1><%= @user.username %>'s chirps</h1>
<a href="<%= new_chirp_url %>">Create a Chirp</a>
<ul>
    <% @user.chirps.each do |chirp| %>
        <br>
        <li><%= chirp.body %>
            <form action="<%= chirp_url(chirp)%>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete Chirp">
            </form>
        </li>
    <% end %>
</ul>


