<!DOCTYPE html>
<html>
  <head>
    <title>Troll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>TROLL</h1>
      <% if logged_in? %>
          <h2> Hello, <%= current_user.username %> </h2>      
          <h3> You are the best Troll </h3>      
          <form action="<%= session_url %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Log Out!">
          </form>
      <% else  %>
        <a href="<%= new_user_url %>">Sign Up!</a>
        <br>
        <a href="<%= new_session_url %>">Log In!</a>
      <% end  %>
    </header>

    <%= yield %> <!-- yields to the view  (render :new will render form) (render :index will render index) -->
  </body>
</html>
