<% if action == :new %>
  <% action_url = users_url %>
  <% button_text = "CREATE USER" %>
<% elsif action == :edit %>
  <% action_url = user_url(user) %>
  <% button_text = "UPDATE USER" %>
<% end %>

<form action="<%= action_url %>" method="POST">
  <% if action == :edit %>
    <input type="hidden" name="_method" value="PATCH" />
  <% end %>

  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]" value="<%= user.username %>" />
  <br/>
  <label for="email">Email</label>
  <input id="email" type="text" name="user[email]" value="<%= user.email %>" />
  <br/>
  <label for="age">Age</label>
  <input id="email" type="text" name="user[age]" value="<%= user.age %>" />
  <br/>
  <input type="submit" value="<%= button_text %>" />
</form>


<!-- not good

<label> Username
<input type="text" name="user[username]" value="<%= user.username %>" />
</label>
-->