<% if action == :show %>
  <a href="<%= users_url %>"> <!-- users_url = "/users" : RAILS auto generated url helper METHOD -->
    User Index
  </a>
<% elsif action == :index %>
  <a href="<%= user_url(user) %>">
    <%= user.username %>'s Show Page
  </a>
<% end %>

<ul>
  <li><%= user.username %></li>
  <li><%= user.age %></li>
  <li><%= user.email %></li>
  <li>
    <a href="<%= edit_user_url(user) %>">Edit User</a>
  </li>
  <li>
    <form action="<%= user_url(user) %>" method="POST" >
      <input type="hidden" name="_method" value="DELETE"/>
      <input type="submit" value="Delete User" />
    </form>
  </li>
</ul>